{% extends "layout.html" %}
{% block username %}
	{{session['username']}}
{% endblock%}
{% block body%}
	<div class="row px-5">
		<div class="col-md-4">
			{% with mensajes_flash = get_flashed_messages()[0] %}
			{% if mensajes_flash %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">{{mensajes_flash}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
		{% endwith %}
		<div class="card card-body">
			<form action="/newtask" method="POST">
				<div class="mb-5">
					<label for="descripcion" class="form-label fs-3">Descripcion</label>
					<input type="text" class="form-control fs-4" id="descripcion" autocomplete="off" placeholder="Descripcion" autofocus name="description" required>
				</div>
				<div class="mb-4">
					<select class="form-select fs-4" aria-label="Default select example" id="Selector" name="status">
						<option selected value="hacer">Por hacer</option>
						<option value="haciendo">Haciendo</option>
						<option value="hecho">Hecho</option>
					</select>
				</div>
				<button class="btn btn-primary fs-4 fw-bold mb-4 form-control" id="btnGuardar">Agregar tarea</button>
			</form>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Por hacer</th>
					<th scope="col">Haciendo</th>
					<th scope="col">Hecho</th>
				</tr>
			</thead>
			<tbody id="tablaTareas">
				
			</tbody>
		</table>
	</div>
</div>
<script src="../static/js/index.js"></script>
{% endblock%}