{% set hacer = filterTasks[0]%}
{% set haciendo = filterTasks[1]%}
{% set hecho = filterTasks[1] %}

{% set lenHacer = lenTasks[0] %}
{% set lenHaciendo = lenTasks[1] %}
{% set lenHecho = lenTasks[2] %}
{% set maxLen = lenTasks[3] %}

{% for i in range(maxLen) %}
	<tr>
		<td>
			{% if i < lenHacer%}
				{{hacer[i][2]}}
			{% endif%}
		</td>
		<td>
			{% if i < lenHaciendo%}
				{{haciendo[i][2]}}
			{% endif%}
		</td>
		<td>
			{% if i < lenHecho%}
				{{hecho[i][2]}}
			{% endif%}
		</td>
	</tr>
{% endfor %}